bcrypt==4.2.0
ffmpy==0.4.0
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Session==0.8.0
Flask-WTF==1.2.1
gunicorn==23.0.0
jsonschema==4.23.0
pymongo==4.9.1
redis==5.0.8
requests==2.32.3
websockets==13.1
nkf==1.0.4
git+https://github.com/yuukiwww/tjaf.git@ebe79e3696d4e1ce0fcdae9e4164e7fd6288b22a
