bcrypt==4.0.1
ffmpy==0.3.1
Flask==3.0.0
git+https://github.com/alanhamlett/flask-caching.git#egg=Flask-Caching
Flask-Session==0.5.0
Flask-WTF==1.2.1
gunicorn==21.2.0
jsonschema==4.19.1
pymongo==4.5.0
redis==5.0.1
requests==2.31.0
Werkzeug==3.0.0
Jinja2==3.1.2
