body {
  padding: 3rem;
}

body > *:not(:last-child) {
  margin-bottom: 3rem;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(roboto/Roboto-Regular.ttf) format("truetype");
}

body * {
  font-family: "Roboto", sans-serif;
}

body * {
  word-break: break-all;
  white-space: pre-line;
}
